.home{
    height:1000px;
    width:100%;
    background-color: lightgray;
}
.banner{
    height: 150px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.article-field{
    width: auto;
    background-color: #C0C0C0;
    width: 100%;
    height: auto;
}
.news-article{
    padding: 25px;
    text-align: justify;
    height: auto;
    word-wrap: break-word;
}
#logo{
    margin: 0px;
    padding-top: 65px;
    height: 200px;
}