.SideButtonBar {
    align-content: center;
    margin: 2px;
}

.SideButton {
    color: white;
    align-content: center;
    background-color: #350B4F;
    border: none;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    width: 125%;
}