th{
    text-align: center;
}
.navbar{
    margin: 0px;
    padding: 0px;
    border: none;
}
.page-body{
    margin: 0px;
    padding: 0px;
    border: none;
    height: 900px;
    text-align: center;
    align-content: center;
}