th{
    text-align: center;
}
.page-body{
    height: 700px;
    background-color: lightgray;
    text-align: center;
    align-content: center;
}
.navbar{
    margin: 0px;
    padding: 0px;
    border: none;
}
.page-body{
    margin: 0px;
    padding: 0px;
    border: none;
    height: 700px;
    background-color: lightgrey;
}